/*Side Bar Links*/
.router-link-active {
    transition: all 0.4s;
    .sideBarLink__icon {
        @apply bg-primary;
        svg,i {@apply text-white fill-white;}
    }
    .sub-link {
        @apply text-primary;
    }
    .sideBarLink__text {
        @apply text-primary;
    }
}

.pos-nav {
    .router-link-active {
        svg {@apply text-primary fill-primary;}
        span {@apply text-primary;}
    }
}
.category,.brand {
    input:checked + label { @apply bg-primary text-white; }
}

.shop-links {
    margin-top: -360px;
    transition: all ease-in-out 0.3s;
    opacity: 0;
    &--active {
        margin-top: 0;
        transition: all ease-in-out 0.3s;
        opacity: 1;
    }
}
