/*Side Bar Links*/
.router-link-active { 
    transition: all 0.4s;
    .sideBarLink__icon {
        background-color: #0DC16A;
        svg,i { color: #fff; fill: #fff;
        }
    }
    .sub-link {
        color: #0DC16A;
    }
    .sideBarLink__text {
        color: #0DC16A;
    }
}

.category,.brand {
    input:checked + label {
        background-color: #0DC16A;
        color: #fff;
    }
}

.shop-links {
    margin-top: -360px;
    transition: all ease-in-out 0.3s;
    opacity: 0;
    &--active {
        margin-top: 0;
        transition: all ease-in-out 0.3s;
        opacity: 1;
    }
}
